@import "tailwindcss";

@theme {
  --color-primary: #561c24;
  --color-secondary: #e8d8c4;
  --color-accent: #c5a35d;
  --color-primary-text: #3d141a;
  
  --font-sans: var(--font-cairo), ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--color-secondary);
  color: var(--color-primary-text);
  font-family: var(--font-sans);
}

